@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.filterdrawer {
  background-color: $secondary-color-two;
  &__title {
    background-color: $secondary-color-two;
    font-family: "Outfit Medium";
    font-size: 18px;
    padding: 16px 16px 0px 16px;
  }

  &__tags {
    background-color: $secondary-color-two;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 16px;
    &--tag {
      background-color: $secondary-color-three;
      color: $primary-color-two;
      display: flex;
      gap: 8px;
      padding: 6px 8px;
      border: 1px solid $primary-color-two;
      border-radius: 6px;
      font-family: "Outfit Medium";
      font-size: 12px;
    }
  }
}
