@use "./variables";

@mixin font-face($name, $path, $weight, $style: normal, $format: "woff") {
  @font-face {
    font-family: $name;
    src: url($path) format($format);
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(
  "Newsreader Light",
  "../../assets/Font/Newsreader-Light.woff",
  300
);

@include font-face(
  "Newsreader Italic",
  "../../assets/Font/Newsreader-LightItalic.woff",
  300,
  italic
);

@include font-face(
  "Newsreader Regular",
  "../../assets/Font/Newsreader-Regular.woff",
  400
);

@include font-face(
  "Outfit Medium",
  "../../assets/Font/Outfit-Medium.woff",
  500
);

@include font-face("Outfit Light", "../../assets/Font/Outfit-Light.woff", 300);
