$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color-one: #0c1e1a;
$primary-color-two: #1e6655;
$primary-color-three: #effaf7;

$secondary-color-one: #b7cec9;
$secondary-color-two: #e4efec;
$secondary-color-three: #ffffff;
