@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.ourmission {
  margin-top: 80px;
  @include tablet {
    margin-top: 120px;
  }
  @include desktop {
    margin-top: 150px;
  }
  &__title {
    font-family: "Outfit Light", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    line-height: 15px;
    padding: 40px 0px 24px 16px;

    @include tablet {
      font-size: 24px;
      padding: 40px 0px 20px 20px;
    }
  }

  &__description {
    font-family: "Newsreader Light", serif;
    font-size: 26px;
    line-height: 38px;
    padding: 0px 16px 48px 16px;

    @include tablet {
      font-size: 40px;
      line-height: 66px;
      padding: 20px 0px 40px 20px;
    }

    @include desktop {
      font-size: 52px;
      width: 60%;
    }
    &--italic {
      font-family: "Newsreader Italic", serif;
    }
  }
}

.filter-open .ourmission__description {
  @include desktop {
    width: 80%;
  }
}
