@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.snaps__header {
  &-top {
    display: flex;
    justify-content: space-between;
    &-title {
      font-family: "Newsreader Light", serif;
      font-size: 32px;
      line-height: 32px;
      padding: 16px 0px 24px 16px;

      @include tablet {
        font-size: 40px;
        line-height: 40px;
        padding: 36px 0px 24px 20px;
      }
    }
    &-filter {
      padding: 16px;
      display: flex;
      gap: 15px;
      &-button {
        width: 100px;
        background-color: $primary-color-three;
        border-radius: 50px;
        padding: 6px 16px;
        border: 2px solid $primary-color-two;
        color: $primary-color-two;
        font-family: "Outfit Medium";
        text-align: center;
        &:hover {
          background-color: $primary-color-two;
          color: $secondary-color-three;
        }

        &:hover .snaps__header-top-filter-icon {
          filter: brightness(0) invert(100%);
        }

        @include tablet {
          padding: 11px 22px;
          font-size: 14px;
          height: 40px;
          width: 120px;
        }

        @include desktop {
          height: 35px;
          width: 110px;
          align-items: center;
        }
      }
      &-icon {
        filter: sepia(100%) saturate(500%) hue-rotate(100deg) brightness(0.6);
        background: transparent;
        padding-left: 5px;
      }
    }
  }
}
