@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.snaps__header {
  &-top {
    display: flex;
    justify-content: space-between;
    &-title {
      font-family: "Newsreader Light", serif;
      font-size: 32px;
      line-height: 32px;
      padding: 16px 0px 24px 16px;
    }
    &-button {
      padding-right: 16px;
    }
  }
}
