@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.gallery {
  padding: 16px;
  @include tablet {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  &.filter-open .gallery__card {
    @include desktop {
      width: calc(50% - 12px);
    }
  }
}
