@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.snaps__footer {
  padding: 16px;

  &-title {
    font-family: "Newsreader Light", serif;
    font-size: 32px;
    line-height: 32px;
    padding: 16px 0px 24px 0px;
  }

  &-links {
    &-talent {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0px;
      list-style-type: none;
      padding-bottom: 16px;
      &-link {
        a {
          font-family: "Outfit Medium";
          text-decoration: none;
          font-size: 12px;
        }
      }
    }
    &-about {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0px;
      list-style-type: none;
      &-link {
        font-family: "Outfit Medium";
        text-decoration: none;
        font-size: 12px;
      }
    }
  }

  &-socials {
    display: flex;
    gap: 16px;
    padding: 32px 0px 16px 0px;
  }

  &-copyright {
    display: flex;
    gap: 10px;
    &-text {
      font-family: "Outfit Medium";
      font-size: 12px;
      color: $secondary-color-one;
      a {
        font-family: "Outfit Medium";
        font-size: 12px;
        color: $secondary-color-one;
      }
    }
  }
}
